body {
    font-family: sans-serif;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: calc (100% - 100px);
    margin: 50px;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
}

.upload-form {
    margin-bottom: 10px;
}

#gallery img {
    display: none;
}

.upload-text {
    line-height: 2;
    padding: 10px 20px;
    text-align: center;
}

.upload-button {
    text-align: center;
    display: inline-block;
    margin: 10px 20px;
    padding: 20px;
    width: calc(100% - 80px);
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.upload-button:hover {
    background: #fafafa;
    color: black;
}

#fileElem {
    display: none;
}