body {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 26pt;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: calc(100% - 100px);
    margin: 50px;
    padding: 20px;
}

#drop-area.highlight {
    border-color: #4444ff;
}

.upload-form {
    margin-bottom: 10px;
}

#gallery img {
    display: none;
}

.upload-text {
    line-height: 2;
    font-weight: 400;
    font-size: 22pt;
    padding: 10px 20px;
    text-align: center;
}

.button {
    text-align: center;
    display: inline-block;
    padding: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #fafafa;
    color: black;
}

#upload-button {
    margin: 10px 20px;
    width: calc(100% - 80px);
}

#fileElem {
    display: none;
}

#result {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
    background: white;
    overflow: scroll;
}

#result._visible {
    display: flex;
}

#result .button {
    margin: 0 0 40px 0;
}

#result-save {
    background: #33bb44;
    color: white;
}

#result-save:hover {
    background: #22aa44;
}

#result canvas {
    width: 50%;
    margin: auto;
}