body {
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    background: #fff;
    color: #333;
}

a {
    color: #FF6F61;
}

.body-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.body-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding: 20px;
}

.body-heading {
    color: #FF6F61;
    padding: 30px 0;
    font-weight: 600;
    font-size: 36pt;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: calc(100% - 40px);
    margin: 50px 0;
    padding: 20px;
}

#drop-area.highlight {
    border-color: #FF6F61;
    background: #FFEFE1;
}

.upload-form {
    margin-bottom: 10px;
}

#gallery img {
    display: none;
}

.upload-text {
    color: #666;
    line-height: 1.5;
    font-size: 20pt;
    font-weight: 100;
    padding: 10px 20px;
}

.button {
    text-align: center;
    display: inline-block;
    padding: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 24pt;
}

.button:hover {
    background: #fafafa;
}

#upload-button {
    margin: 10px 20px;
    width: calc(100% - 80px);
}

#fileElem {
    display: none;
}

#result {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
    background: white;
    overflow: scroll;
}

#result._visible {
    display: flex;
}

#result .block {
    max-width: 900px;
    margin: auto;
    width: calc(100% - 40px);
    margin-bottom: 40px;
}

#result-info.block {
    color: #666;
    line-height: 1.5;
    max-width: 940px;
    font-size: 14pt;
}

#result-close {
    background: #FF6F61;
    border-color: #FF6F61;
    color: white;
}

#result-close:hover {
    background: #FF5F61;
}

#result-save {
    background: #00AF8D;
    border-color: #00AF8D;
    text-decoration: none;
    color: white;
}

#result-save:hover {
    background: #00AF9D;
}

#result canvas {
    max-width: 940px;
    margin: auto;
    width: 100%;
}

.effects-selector {
    overflow-x: auto;
    overflow-y: hidden;
    height: 200px;
    background: white;
    margin: 0;
}

.effects-selector__wrapper {
    display: inline-flex;
}

.effects-selector__item {
    display: flex;
    margin: auto 12px;
    min-width: 160px;
    width: 160px;
    height: 160px;
    background: lightgray;
}

.effects-selector__item {
    border-radius: 88px;
    background-size: cover;
}

.effects-selector__item._selected {
    border: 8px solid #FF6F61;
}

.effects-selector__item._horizontal {
    background: url('./images/effect1.jpg') center;
}

.effects-selector__item._vertical {
    background: url('./images/effect2.jpg') center;
}

.effects-selector__item._zigzag {
    background: url('./images/effect3.jpg') center;
}

.effects-selector__item._dots {
    background: url('./images/effect4.jpg') center;
}

.effects-selector__item._idots {
    background: url('./images/effect5.jpg') center;
}

.effects-selector__item._circles {
    background: url('./images/effect6.jpg') center;
}

.effects-selector__item._waves {
    background: url('./images/effect7.jpg') center;
}

.effect-description {
    font-size: 20pt;
    color: #FF6F61;
    padding-top: 20px;
    font-weight: 600;
}

.effect-intro {
    font-size: 20pt;
    padding: 20px 0;
}

.effect-intro img {
    width: 45px;
    height: 45px;
    margin-bottom: -23px;
}

.information-box {
    font-weight: 400;
    line-height: 1.3;
    font-size: 18pt;
    margin-bottom: 54px;
}

.about-footer {
    font-weight: 400;
    line-height: 1.3;
    font-size: 14pt;
    margin-bottom: 108px;
    padding-top: 27px;
    border-top: 1px solid #ccc;
}

.note {
    font-size: 14pt;
    line-height: 1.5;
}